.view-2-main-container {
	position: relative;
}

.view-2-container {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
}

.view-2-container .view-2-wrapper {
	margin: 30px 0;
	border: 3px solid #a5a5a5;
	border-radius: 5px;
	position: relative;
}

.view-2-container .view-2-wrapper span {
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color: #0ead69;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	transition: all 0.5s;
	cursor: pointer;
}

.view-2-container .view-2-wrapper span.active {
	background-color: #d90429;
	color: white;
	font-weight: 600;
}

.view-2-container .view-2-wrapper span:hover {
	background-color: #1b479e;
	color: white;
}

.view-2-container .view-2-wrapper span.visibility-none {
	visibility: hidden;
}

.view-2-wrapper #top-layout {
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: space-evenly;
	align-items: flex-end;
}

.view-2-wrapper .middle-layout-container {
	display: flex;
	width: 100%;
	height: 91.5%;
}

.view-2-wrapper #left-layout {
	height: 100%;
	width: 60px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-end;
	flex-grow: 1;
	margin-top: -11px;
}

.view-2-wrapper #middle-layout {
	display: inline-block;
	width: calc(100% - 60px);
	height: calc(100% - 60px);
	display: flex;
	justify-content: space-around;
	margin-right: 100px;
}

.view-2-wrapper #middle-layout #middle-layout-1 {
	flex-grow: 1;
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	justify-content: space-evenly;
	padding-right: 20px;
	position: relative;
}

.view-2-wrapper #middle-layout #middle-layout-2 {
	flex-grow: 1;
	position: relative;
	display: flex;
	justify-content: space-between;
	padding: 0 20px;
}

.view-2-wrapper #middle-layout #middle-layout-2-1 {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.view-2-wrapper #middle-layout #middle-layout-2-2 {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.view-2-wrapper #middle-layout #middle-layout-3 {
	flex-grow: 1;
	position: relative;
	display: flex;
	justify-content: space-between;
	padding: 0 20px;
}

.view-2-wrapper #middle-layout #middle-layout-3-1 {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.view-2-wrapper #middle-layout #middle-layout-3-2 {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.view-2-wrapper #middle-layout #middle-layout-4 {
	flex-grow: 1;
	position: relative;
	display: flex;
	justify-content: space-between;
	padding: 0 20px;
}

.view-2-wrapper #middle-layout #middle-layout-4-1 {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.view-2-wrapper #middle-layout #middle-layout-4-2 {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.view-2-wrapper #middle-layout #middle-layout-5 {
	flex-grow: 1;
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	justify-content: space-evenly;
	padding-right: 20px;
	position: relative;
}

.view-2-wrapper #bottom-layout {
	position: absolute;
	bottom: 0;
	left: 53px;
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
	height: 60px;
	width: calc(100% - 50px);
}

/* for border style start  */
.view-2-wrapper #middle-layout #middle-layout-1::after {
	content: "";
	position: absolute;
	top: 7%;
	right: 0;
	height: 86%;
	width: 3px;
	background-color: #a5a5a5;
}

.view-2-wrapper #middle-layout #middle-layout-2::after {
	content: "";
	position: absolute;
	top: 7%;
	right: 0;
	height: 86%;
	width: 3px;
	background-color: #a5a5a5;
}

.view-2-wrapper #middle-layout #middle-layout-3::after {
	content: "";
	position: absolute;
	top: 7%;
	right: 0;
	height: 86%;
	width: 3px;
	background-color: #a5a5a5;
}

.view-2-wrapper #middle-layout #middle-layout-4::after {
	content: "";
	position: absolute;
	top: 7%;
	right: 0;
	height: 86%;
	width: 3px;
	background-color: #a5a5a5;
}

.view-2-wrapper #middle-layout #middle-layout-5::after {
	content: "";
	position: absolute;
	top: 7%;
	right: 0;
	height: 86%;
	width: 3px;
	background-color: #a5a5a5;
}
/* for border style end */
