.booking-popup-container {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	position: absolute;
	top: 13vh;
}

.booking-popup-container .booking-popup-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	box-shadow: var(--box-shadow);
	padding: 20px 10px 10px !important;
	border: 4px solid transparent;
	border-radius: 20px;
	background: linear-gradient(to right, white, white),
		linear-gradient(to right, red, blue);
	background-clip: padding-box, border-box;
	background-origin: padding-box, border-box;
	height: fit-content;
	position: relative;
}

.booking-popup-container .booking-popup-wrapper .close-btn {
	position: absolute;
	top: 10px;
	right: 20px;
	cursor: pointer;
}

.booking-popup-container .booking-popup-wrapper .close-btn {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	display: flex;
	width: fit-content;
	background-color: #d7e2ea;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	transition: all 0.3s;
}

.booking-popup-container .booking-popup-wrapper .close-btn:hover {
	transform: scale(0.9);
}

.booking-popup-container .booking-popup-wrapper .close-btn:active {
	transform: scale(1.1);
}

.booking-popup-container .booking-popup-wrapper .close-btn i {
	font-size: 20px;
	transition: all 0.3s;
}

.booking-popup-container .booking-popup-wrapper .close-btn i:hover {
	transform: rotate(180deg);
}

.booking-popup-wrapper .input-fields-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 95%;
	margin-bottom: 10px;
}

.booking-popup-wrapper .input-fields-container .input-field {
	width: 95%;
}

.booking-popup-container .input-field .displaying {
	display: flex;
	padding: 10px 20px;
	margin: 7px 0;
	align-items: center;
}

.booking-popup-container .input-field .displaying h6 {
	margin: 0;
}

.booking-popup-container .input-field .displaying p {
	margin: 0 0 0 10px;
}

.input-fields-container .input-field input {
	width: 100%;
	border: 1px solid black;
	outline: none;
	padding: 10px 20px;
	border-radius: 10px;
	margin: 7px 0;
	color: #6d6875;
	font-weight: 600;
}

.input-fields-container .btn-container {
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

.input-fields-container .btn-container button {
	width: 105px;
	height: 40px;
	border-radius: 30px;
	font-weight: 500;
	font-size: 18px;
}

.input-fields-container .btn-container button:first-child {
	margin-right: 20px;
}
